**/bin/
**/obj/
.vs/
*.suo
*.userprefs
**/packages/*
!**/packages/build/
_ReSharper*/
*ReSharper*
*.nupkg
**/publish/
wwwroot/
*.runtimeconfig.json
*.xml
*.json
*.config
*.csproj
*.sln
*.user
*.aspnetcore.https
*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/
azure/
appsettings.Development.json
Properties/PublishProfiles/
*.db
*.sqlite
